html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*PARALAX-SECTIONS-A*/

.parralax{
    background: #000715  no-repeat 50% 50%;
    background-size: cover;
}
#seccion1{ background-image: url('../img/1gradient.svg');
width: 100%;
height: 75%;
}

#seccion2{
    background-color: #00CAA0;
    width: 100%;
    height: 140%;
    position: relative;
}
 #seccion3 {
        background-image: url('../img/1fondo.svg');
        width: 100%;
        height: 100%;
  }

#seccion4{
    background-image: url('../img/2fondo.svg');
    width: 100%;
    height: 100%;
  }

  .overx{
    overflow-x: hidden !important;
 }

/*PARALAX-SECTIONS-Z*/

/*LOTTIE-A*/
 #anim {
   max-width: 95%;
   max-height: 95%;
   right: 20%;
   bottom: 92%; 
   position: absolute;
  }
  .animation{
    max-width: 95%;
    max-height: 95%;
    right: 20%;
    bottom: 93%;
    position: absolute;}
/*LOTTIE-Z*/

/*FONT-A*/
  @font-face {
    font-family: 'horse-font';
    src: url('../font/horse.ttf');
  }
  .horse-font{
    font-family: 'horse-font'
  }


/*FONT-Z*/

/*HEADER-A*/
  .header-seccion{
    font-size: 150%;
    font-family: horse-font;
  }
  .header-name{
    font-size: 200%;
    font-family: horse-font;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    line-height: 25px;
    margin-top: 10px;
  }

  .header-icono{
    font-size: 200%;
    font-family: horse-font;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    line-height: 25px;
    margin-top: 10px;
  }

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 8px;
}

.hover-header:hover {
  background-color: rgb(233, 24, 59);
  color: rgb(253, 247, 247);
  padding-top: 20px;
  margin-top: 15px;
  transform:  scale(1.1);
  font-size: 160%;
}

.header-right {
  float: right;
}


.iconos{
  max-width: 35px;
  min-width: 35px;
  margin-top: -5px;
}

/*HEADER-Z*/

/*WORDS CAROUSEL-A*/
.wordCarousel {
  font-size: 30px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  padding-left: 10%;
  padding-top: 20%;
}
.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  padding-right: 60%;
  margin-top: -10px;
}
.wordCarousel div li {
  color: rgb(0, 0, 0);
  font-weight: 70%;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip2 {
  -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
  -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
  -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/*WORDS CAROUSEL-Z*/


/*CARDS-PORTFOLIO-A*/
.card p{
  font-family: horse-font;
  margin:0px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size:25px;
  line-height:90%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top:3%;
  padding-bottom:8%;
  border-radius:20px;
  cursor:pointer;
  transition: ease 1s;
  -webkit-transition: ease 1s;
}

.card h3{
  font-family: horse-font;
  margin:0px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size:30px;
  line-height:90%;
  padding-left: 8%;
  padding-top:8%;
  padding-bottom:3%;
  border-radius:20px;
  cursor:pointer;
  transition: ease 1s;
  -webkit-transition: ease 1s;
}

h3{
  font-family: horse-font;
  color:rgb(255, 255, 255);
  font-weight: 400;
  font-size:35px;
  line-height:90%;
  padding-top:5%;
  position:relative;
  text-align:center;
  
}

.title-portfolio{
  display: flex;
  justify-content: center;
  color: rgb(253, 228, 0);
}
.title{
  color: rgb(255, 255, 255);
  font-family: horse-font;
  margin:auto;
  padding-left:0px;
  padding-bottom:0px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.cards{
  width:80%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:200px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.card{
  width:22%;
  position:relative;
  background-color:rgb(141, 27, 27);
  margin:1.13%;
  border-radius:5px;
  transition: 1s;
  -webkit-transition:0.5s;
  cursor:pointer;
  flex: 1 1 auto;
  text-decoration: none
}

.card:hover{

  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  transform: rotate(4deg) scale(1.1);
}

.card_img{
  width:100%;
  height:150px;
  position:reltive;
  border-radius: 5px 5px 0px 0px;
  background-size: cover;
  background-position:center center; 
  background-color: #eb4f4f;
  transition:1s;
  -webkit-transition:1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.card1{
  background-image: url(htypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQvdIMVlW3Mn8TmkGmtulq2taIDoUIJvr_lt87EWhgdCY5diNhH0Q);
  
}
.card2{
   background-image: url(htmbianimazione.it//k2/galleries/136/Colori%20Fluo%20festa%20Arezzo%207.JPG);
}
.card3{
   background-image: url(htromatoday.it/~/horizontal-hi/26065597680895/fluo-party-2-2.jpg);
}
.card4{
   background-image: url(htncrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSiLXTcanAKRZhMo-5Ga9pzsXIgjWcSbCdz3xFhMVI1PDZSRgQgUQ);
}
.card5{
   background-image: url(htdgetsvirali.com/wp-content/uploads/2016/09/preservativo-fluo-thumbnail-1.jpg);
}
.card6{
   background-image: url(ht.festabimbianimazione.it//k2/galleries/136/Colori%20Fluo%20festa%20Arezzo%207.JPG);
}
*/
.line{
  height:2px;
  width:84%;
  margin:auto;
  background-color: rgb(233, 24, 59);
}

.title input{
  background: transparent;
  border:1px solid white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  display:inline;
  font-family: lato;
  color: white;
  font-size:18px;
  line-height:90%;
  border-radius:30px;
  width:150px;
  float:right;
  margin-top:30px;
}

.title textarea:focus, input:focus{
    outline: none;
}

.zoomed{
  width:100%;
}

.portfolio-div{
  margin-top: 20%;
}

/*CARDS-PORTFOLIO-Z*/

/*ABOUT-A*/
.img-kevin{
  max-width: 45%;
  max-height: 45%;
  margin-left: 10%;
  position: absolute;
}
.about-div{
  max-width: 90%;
}

.title-about{
  font-size: 3rem;
  margin-left: 0.5vw;
  margin-top: 5%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
}

.texto-about{
  margin-left: 50%;
  margin-top: 5%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
  font-size: 220%;
}
/*ABOUT-Z*/

/*FORM-A*/
.contact-form{
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.contact-form > *{
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
.contact-form textarea{
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 3rem;
  text-align: center;
  font-family: 'horse-font';
  color: rgb(255, 255, 255);
}
.contact-form input, 
.contact-form textarea{
  font-size: 1rem;
  font-family: horse-font;
}
.contact-form input[type="submit"] {
width: 50%;
font-weight: bold;
cursor: pointer;
}

.contact-form *::placeholder{
  color: #000715;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color)
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color),
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: rgb(245, 219, 219);
  transition: all 800ms ease;
  font-family: horse-font;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both ;
  
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
100%{
  visibility: visible;
  opacity: 1;
}

}

.contact-form-loader {
margin-left: 50%;
}
/*FORM-Z*/

/*BOTON-A*/
html{
  scroll-behavior:smooth;}

  .palanca{
  transform: translate(-100%,0);
  opacity: 0;
}

.hamburger-box:hover, .hamburger-inner:hover, .botonPalancaContainer:hover{
  border: 0;
}
#botonPalancaContainer button:hover{
  outline: none;
  border: 0;
}

.menuPalanca{
  position: fixed;
  width: 100vw;
  bottom: 0;
  align-items: center;
  height: 100vh;
  background-color: #00CAA0;
  top: 0; 
  transition: transform 0.5s ease, opacity 0.3s ease;
  opacity: 1;
  z-index: 998;
  overflow-y: hidden ;
}

nav ul{
  margin: 0;
  padding: 0;
  border: 0;
  padding-top: 5%;
  padding-bottom: 30%;
  height: 80vh; 
  overflow-y: auto;
}

nav ul li{
  display: flex;
  list-style: none;
  font-size:30px;
  color: rgb(243, 28, 82);
  border: 0;
  text-align: center;
}

nav ul li a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(3, 14, 13);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  font-size: 250%;
  font-family: horse-font;
}
nav ul li a:hover{
  background-color: rgba(253, 41, 41, 0.918);
  color: #fff;
  font-size: 300%;
  font-family: horse-font;
}

#botonPalancaContainer{
  position: fixed;
  z-index: 999;
  bottom: 10px;
  right:10px;
  width: 67px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(253, 41, 41, 0.918);
  display: flex;
}

#botonPalancaContainer .hamburger{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 55px;
}
/*BOTON-Z*/


/*RESPONSIVE-A*/
@media screen and (min-width: 1024px){
  
  #botonPalancaContainer { display: none; 
  }
}

@media screen and (max-width: 1024px){
  .card{
  width:30%;
  margin:1.6%;
  }
  .header-right { display: none; 
  }


  html{
    overflow-x: hidden !important;
  }

  
  .header-name { 
    font-size: 300%;
    right: 100%;
    bottom: 150%;
  } 

  .header-icono{
    width: 40px;
    height: 40px;
  } 

  .wordCarousel {
    font-size: 65px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-top: 10%;
  }

  .wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    padding-right: 0%;
    margin-top: -10px;
  }

  .animation{
    max-width: 0.3vw;
    max-height: 0.3vh;
    bottom: 120%;
    right: 70%;
    position: absolute;}
  
    #seccion2{
      background-color: #00CAA0;
      width: 100%;
      height: 80%;
      position: relative;
}
.portfolio-div{
  margin-top: 35%;
}
.about-div{
  width: 100%;
  margin: 5%;
} 


.img-kevin{
  max-width: 90%;
  max-height: 90%;
  margin-left: 13%;
  position: absolute;
}

.title-about{
  font-size: 3rem;
  margin-left: 0%;
  margin-top: 5%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
}

.texto-about{
  margin-left: 5%;
  margin-top: 90%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
  font-size: 190%;
}
#seccion4{
  background-image: url('../img/2fondo.svg');
  width: 100%;
  height: 50%;
}
.contact-form{
  margin-top: 0%;
  margin-right: 13%;
}

.contact-form legend {
  font-size: 2rem;
  text-align: center;
  font-family: 'horse-font';
  color: rgb(255, 255, 255);
}

nav ul li{
  display: flex;
  list-style: none;
  font-size:70px;
  color: rgb(243, 28, 82);
  border: 0;
  text-align: center;
}
}

@media screen and (max-width: 768px){
  .card{
  width:45%;
  margin:2.5%;
  }
  .header-right { display: none; }


  html{
    overflow-x: hidden !important;
  }

  
  .header-name { 
    font-size: 250%;
    right: 100%;
    bottom: 125%;
  } 

  .header-icono{
    width: 35px;
    height: 35px;
  } 

  .wordCarousel {
    font-size: 40px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-top: 10%;
  }

  .wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    padding-right: 0%;
    margin-top: -10px;
  }

  .animation{
    max-width: 0.3vw;
    max-height: 0.3vh;
    bottom: 120%;
    right: 70%;
    position: absolute;}
  
    #seccion2{
      background-color: #00CAA0;
      width: 100%;
      height: 120%;
      position: relative;
}
.portfolio-div{
  margin-top: 35%;
}
.about-div{
  width: 100%;
  margin: 5%;
} 


.img-kevin{
  max-width: 90%;
  max-height: 90%;
  margin-left: 4%;
  position: absolute;
}

.title-about{
  font-size: 3rem;
  margin-left: 10%;
  margin-top: 5%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
}

.texto-about{
  margin-left: 5%;
  margin-top: 115%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
  font-size: 150%;
}
#seccion4{
  background-image: url('../img/2fondo.svg');
  width: 100%;
  height: 75%;
}
.contact-form{
  margin-top: 20%;
  margin-right: 13%;
}

.contact-form legend {
  font-size: 2rem;
  text-align: center;
  font-family: 'horse-font';
  color: rgb(255, 255, 255);
}

nav ul li{
  display: flex;
  list-style: none;
  font-size:50px;
  color: rgb(243, 28, 82);
  border: 0;
  text-align: center;
}
}

@media screen and (max-width: 480px){
  .card{
  width:98%;
  margin:2%;
  }
  .header-right { display: none;  
  }
  html{
    overflow-x: hidden !important;
  }

  
  .header-name { 
    font-size: 140%;
    right: 100%;
    bottom: 125%;
  } 

  .header-icono{
    width: 30px;
    height: 30px;
  } 

  .wordCarousel {
    font-size: 25px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-top: 10%;
  }

  .wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    padding-right: 0%;
    margin-top: -10px;
  }

  .animation{
    max-width: 0.3vw;
    max-height: 0.3vh;
    bottom: 118%;
    right: 90%;
    position: absolute;}
  
    #seccion2{
      background-color: #00CAA0;
      width: 100%;
      height: 170%;
      position: relative;
}
.portfolio-div{
  margin-top: 45%;
}
.about-div{
  width: 100%;
  margin: 2%;
} 


.img-kevin{
  max-width: 90%;
  max-height: 90%;
  margin-left: 4%;
  position: absolute;
}

.title-about{
  font-size: 3rem;
  margin-left: 10%;
  margin-top: 25%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
}

.texto-about{
  margin-left: 5%;
  margin-top: 130%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
  font-size: 130%;
}
#seccion4{
  background-image: url('../img/2fondo.svg');
  width: 100%;
  height: 130%;
}
.contact-form{
  margin-top: 80%;
  margin-right: 13%;
}

.contact-form legend {
  font-size: 2rem;
  text-align: center;
  font-family: 'horse-font';
  color: rgb(255, 255, 255);
}

nav ul li{
  display: flex;
  list-style: none;
  font-size:30px;
  color: rgb(243, 28, 82);
  border: 0;
  text-align: center;
}
}

@media screen and (max-width: 320px ) {
  html{
    overflow-x: hidden !important;
  }

  .card{
    width: 110%;
    margin: 2%;
}
  
  .header-right { display: none; }
  
  
  .header-name { 
    font-size: 140%;
    right: 100%;
    bottom: 125%;
  } 

  .header-icono{
    width: 30px;
    height: 30px;
  } 

  .wordCarousel {
    font-size: 25px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-top: 10%;
  }

  .wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    padding-right: 0%;
    margin-top: -10px;
  }

  .animation{
    max-width: 0.3vw;
    max-height: 0.3vh;
    bottom: 110%;
    right: 100%;
    position: absolute;}
  
    #seccion2{
      background-color: #00CAA0;
      width: 100%;
      height: 170%;
      position: relative;
}
.portfolio-div{
  margin-top: 45%;
}

#seccion3 {
  background-image: url('../img/1fondo.svg');
  width: 100%;
  height: 120%;
}
.about-div{
  width: 100%;
  margin: 2%;
} 


.img-kevin{
  max-width: 90%;
  max-height: 90%;
  margin-left: 4%;
  position: absolute;
}

.title-about{
  font-size: 3rem;
  margin-left: 10%;
  margin-top: 5%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
}

.texto-about{
  margin-left: 5%;
  margin-top: 130%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
  font-size: 130%;
}
#seccion4{
  background-image: url('../img/2fondo.svg');
  width: 100%;
  height: 250%;
}
.contact-form{
  margin-bottom: 10%;
  margin-right: 13%;
}

.contact-form legend {
  font-size: 2rem;
  text-align: center;
  font-family: 'horse-font';
  color: rgb(255, 255, 255);
}

nav ul li{
  display: flex;
  list-style: none;
  font-size:30px;
  color: rgb(243, 28, 82);
  border: 0;
  text-align: center;
}
}

@media screen and (max-width: 272px ) {
  html{
    overflow-x: hidden !important;
  }

.card{
    width: 100%;
    margin: 2%;
}

.header-right { display: none; }

.header-name { 
  font-size: 155%;
  right: 100%;
  bottom: 125%;
}

.header-icono{display: none}

.wordCarousel {display: none;}

.animation{
  max-width: 0.3vw;
  max-height: 0.3vh;
  bottom: 122%;
  right: 120%;
  position: absolute;}

    
#seccion2{
      background-color: #00CAA0;
      width: 100%;
      height: 200%;
      position: relative;
}


.portfolio-div{
  margin-top: 45%;
}
.about-div{
  width: 100%;
  margin: 2%;
}

.img-kevin{
  max-width: 90%;
  max-height: 90%;
  margin-left: 4%;
  position: absolute;
}

.title-about{
  font-size: 3rem;
  margin-left: 10%;
  margin-top: 5%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
}

.texto-about{
  margin-left: 5%;
  margin-top: 130%;
  color: aliceblue;
  font-family: horse-font;
  position: relative;
  font-size: 130%;
}
#seccion4{
  background-image: url('../img/2fondo.svg');
  width: 100%;
  height: 120%;
}
.contact-form{
  margin-top: 50%;
  margin-right: 13%;
}

.contact-form legend {
  font-size: 2rem;
  text-align: center;
  font-family: 'horse-font';
  color: rgb(255, 255, 255);
}
nav ul li{
  display: flex;
  list-style: none;
  font-size:15px;
  color: rgb(243, 28, 82);
  border: 0;
  text-align: center;
}
}
/*RESPONSIVE-Z*/